Natural Language Processing.
Md. Mahmudul Haque.
Matriculation No.: 231571.
Week: 5.

In [1]:
# !pip install pandas
# !pip install nltk

In [2]:
import os
import re
import numpy as np
import pandas as pd
from nltk.corpus import stopwords

Task 1

In [3]:
bitcoin_df = pd.read_csv("bitcoin.csv", usecols=["created", "title", "selftext"])
bitcoin_df.head()

,created,title,selftext
0,1640995385,Anyone use a roundup app to invest spare change?,[removed]
1,1640995487,"Maybe I am more pessimistic, so I withdrew Bit...",[removed]
2,1640995629,Can not withdraw,[removed]
3,1640996258,When sovereign wealth funds?,Anyone heard any news about this? Any opinions...
4,1640996745,Big Money Lost in a Hard Drive,[removed]

In [4]:
bitcoin_df.count()

created     66576
title       66567
selftext    37918
dtype: int64

In [5]:
# dropping empty rows where value of "selftext" is none
bitcoin_df.dropna(subset=["selftext"], inplace=True)

In [6]:
# resetting the index from 0 to len(dataframe)
bitcoin_df = bitcoin_df.reset_index(drop=True)
bitcoin_df.count()

created     37918
title       37918
selftext    37918
dtype: int64

In [7]:
# removing the rows with "[removed]" value in "selftext" column
bitcoin_df = bitcoin_df[bitcoin_df["selftext"] != "[removed]"]
bitcoin_df.head()

,created,title,selftext
3,1640996258,When sovereign wealth funds?,Anyone heard any news about this? Any opinions...
5,1640998555,You have already won.,I only have .03 btc but I still feel early as ...
6,1640999166,Good Android Wallet for BTC,"Okay,\n\nSo I want to move away from Exodus an..."
8,1641000037,George Athanassakos (Seat tight and HODL),https://www.ivey.uwo.ca/faculty/directory/geor...
13,1641000896,"Happy New Year wishes Ferdinand, the first HOD...",[deleted]

In [8]:
bitcoin_df.count()

created     21659
title       21659
selftext    21659
dtype: int64

In [9]:
bitcoin_df["selftext"].isna().sum()

0

In [10]:
# removing the rows with "[deleted]" value in "selftext" column
bitcoin_df = bitcoin_df[bitcoin_df["selftext"] != "[deleted]"]
bitcoin_df.head()

,created,title,selftext
3,1640996258,When sovereign wealth funds?,Anyone heard any news about this? Any opinions...
5,1640998555,You have already won.,I only have .03 btc but I still feel early as ...
6,1640999166,Good Android Wallet for BTC,"Okay,\n\nSo I want to move away from Exodus an..."
8,1641000037,George Athanassakos (Seat tight and HODL),https://www.ivey.uwo.ca/faculty/directory/geor...
18,1641006460,Factored in satoshi Nakamoto’s bitcoins into t...,"Just a genuine question, I’ve googled biggest ..."

In [11]:
bitcoin_df = bitcoin_df.reset_index(drop=True)

In [12]:
bitcoin_df["selftext"][0:100]

0     Anyone heard any news about this? Any opinions...
1     I only have .03 btc but I still feel early as ...
2     Okay,\n\nSo I want to move away from Exodus an...
3     https://www.ivey.uwo.ca/faculty/directory/geor...
4     Just a genuine question, I’ve googled biggest ...
                            ...
95    At some point “only invest what you can afford...
96    Is it recommended to store Bitcoin on a drive ...
97    Looking for Platforms suggestions and withdraw...
98    Hey! I don't think it's illegal for minors to ...
99    Since there are no chargebacks, if I buy an it...
Name: selftext, Length: 100, dtype: object

In [13]:
bitcoin_df.head()

,created,title,selftext
0,1640996258,When sovereign wealth funds?,Anyone heard any news about this? Any opinions...
1,1640998555,You have already won.,I only have .03 btc but I still feel early as ...
2,1640999166,Good Android Wallet for BTC,"Okay,\n\nSo I want to move away from Exodus an..."
3,1641000037,George Athanassakos (Seat tight and HODL),https://www.ivey.uwo.ca/faculty/directory/geor...
4,1641006460,Factored in satoshi Nakamoto’s bitcoins into t...,"Just a genuine question, I’ve googled biggest ..."

In [14]:
# merging the two columns "title" and "selftext" by typecasting in string and 
# then into another new column "title_selftext" appending the column at 
# the end of the dataframe by default
bitcoin_df["title_selftext"] = bitcoin_df["title"].astype("str") + bitcoin_df["selftext"].astype("str")

In [15]:
bitcoin_df.head()

,created,title,selftext,title_selftext
0,1640996258,When sovereign wealth funds?,Anyone heard any news about this? Any opinions...,When sovereign wealth funds?Anyone heard any n...
1,1640998555,You have already won.,I only have .03 btc but I still feel early as ...,You have already won.I only have .03 btc but I...
2,1640999166,Good Android Wallet for BTC,"Okay,\n\nSo I want to move away from Exodus an...","Good Android Wallet for BTCOkay,\n\nSo I want ..."
3,1641000037,George Athanassakos (Seat tight and HODL),https://www.ivey.uwo.ca/faculty/directory/geor...,George Athanassakos (Seat tight and HODL)https...
4,1641006460,Factored in satoshi Nakamoto’s bitcoins into t...,"Just a genuine question, I’ve googled biggest ...",Factored in satoshi Nakamoto’s bitcoins into t...

In [16]:
bitcoin_df.drop(columns=["title", "selftext"], inplace=True)

In [17]:
bitcoin_df.head()

      created                                     title_selftext
0  1640996258  When sovereign wealth funds?Anyone heard any n...
1  1640998555  You have already won.I only have .03 btc but I...
2  1640999166  Good Android Wallet for BTCOkay,\n\nSo I want ...
3  1641000037  George Athanassakos (Seat tight and HODL)https...
4  1641006460  Factored in satoshi Nakamoto’s bitcoins into t...

In [18]:
bitcoin_df.reset_index(inplace=True)

In [19]:
bitcoin_df.head()

   index     created                                     title_selftext
0      0  1640996258  When sovereign wealth funds?Anyone heard any n...
1      1  1640998555  You have already won.I only have .03 btc but I...
2      2  1640999166  Good Android Wallet for BTCOkay,\n\nSo I want ...
3      3  1641000037  George Athanassakos (Seat tight and HODL)https...
4      4  1641006460  Factored in satoshi Nakamoto’s bitcoins into t...

Task 2

In [20]:
copy_df = bitcoin_df.copy().drop(columns="index")

In [21]:
copy_df.head()

      created                                     title_selftext
0  1640996258  When sovereign wealth funds?Anyone heard any n...
1  1640998555  You have already won.I only have .03 btc but I...
2  1640999166  Good Android Wallet for BTCOkay,\n\nSo I want ...
3  1641000037  George Athanassakos (Seat tight and HODL)https...
4  1641006460  Factored in satoshi Nakamoto’s bitcoins into t...

In [22]:
# Applying on basic preprocessing:
# 1. cleaning: extracting alphabets and 
# splitting into word list for each row;
# 2. to lowercase; 3. removing stopwords
def clean_text(sentence: str) -> list:
    """cleaning text by extracting alphabets and
    then splitting into word list for each sentence

    Args:
        sentence (str): sentence string

    Returns:
        list: list of words.
    """
    pattern = re.compile(r"[A-Za-z]+")
    return re.findall(pattern=pattern, string=sentence)

def to_lowercase(word_list: list) -> list:
    """case changing of all contents in each list
    of words

    Args:
        word_list (list): list of words with alphabets only texts

    Returns:
        word_list (list): list of words with lowercase transformation
    """
    for i, word in enumerate(word_list):
        word_list[i] = word.lower()
    return word_list

def remove_stopwords(list_of_words: list) -> list:
    """removing stop words from list of words by matching
    English stop words and extracting those out 
    
    Args:
        list_of_words (list): list of words with stop words

    Returns:
        list: stop word free list of words
    """
    stopword_list = stopwords.words("english")

    return [word for word in list_of_words if word not in stopword_list]

In [23]:
copy_df["clean_text"] = copy_df["title_selftext"].apply(lambda text: clean_text(text))
copy_df["clean_text"] = copy_df["clean_text"].apply(lambda word_list: to_lowercase(word_list))
copy_df["clean_text"] = copy_df["clean_text"].apply(lambda word_list: remove_stopwords(word_list))

In [24]:
copy_df.head()

,created,title_selftext,clean_text
0,1640996258,When sovereign wealth funds?Anyone heard any n...,"[sovereign, wealth, funds, anyone, heard, news..."
1,1640998555,You have already won.I only have .03 btc but I...,"[already, btc, still, feel, early, one, family..."
2,1640999166,"Good Android Wallet for BTCOkay,\n\nSo I want ...","[good, android, wallet, btcokay, want, move, a..."
3,1641000037,George Athanassakos (Seat tight and HODL)https...,"[george, athanassakos, seat, tight, hodl, http..."
4,1641006460,Factored in satoshi Nakamoto’s bitcoins into t...,"[factored, satoshi, nakamoto, bitcoins, price,..."

In [25]:
bitcoin_df = copy_df.copy()

Task 3

In [26]:
ground_truth_df = pd.read_csv("dictionary.csv", dtype={"term": "string", "sentiment": "float64"})
ground_truth_df.head()

       term  sentiment
0         a        0.0
1      a.d.        0.0
2    a.k.a.        0.0
3      a.m.        0.0
4  aardvark        0.0

In [27]:
def calculate_sentiment(list_of_words: list) -> np.float64:
    """calculating sentiment
    
    calculation of sentiment by using the given dictionary
    value in 'dictionary.csv' file and if terms matches
    then the true indices get summed up by sentiment column
    score.

    Args:
        list_of_words (list): list of words

    Returns:
        np.float64: total sentiment score of each sentence
    """

    mask = ground_truth_df["term"].isin(list_of_words)
    return ground_truth_df.iloc[ground_truth_df.index[mask]]["sentiment"].sum()

In [28]:
copy_df["sentiment_score"] = copy_df["clean_text"].apply(lambda word_list: calculate_sentiment(word_list))

In [29]:
copy_df.head()

,created,title_selftext,clean_text,sentiment_score
0,1640996258,When sovereign wealth funds?Anyone heard any n...,"[sovereign, wealth, funds, anyone, heard, news...",4.0
1,1640998555,You have already won.I only have .03 btc but I...,"[already, btc, still, feel, early, one, family...",3.0
2,1640999166,"Good Android Wallet for BTCOkay,\n\nSo I want ...","[good, android, wallet, btcokay, want, move, a...",11.0
3,1641000037,George Athanassakos (Seat tight and HODL)https...,"[george, athanassakos, seat, tight, hodl, http...",2.0
4,1641006460,Factored in satoshi Nakamoto’s bitcoins into t...,"[factored, satoshi, nakamoto, bitcoins, price,...",1.0

In [30]:
bitcoin_df = copy_df.copy()

Task 4

In [31]:
copy_df = bitcoin_df.copy()

In [32]:
prices_df = pd.read_csv(
    "bitcoin_prices.csv",
    dtype={"difference": np.float64},
    parse_dates=True
)

In [33]:
prices_df.head()

    timestamp  difference
0  2022-01-01     -842.52
1  2022-01-02     1490.70
2  2022-01-03     -495.08
3  2022-01-04     -734.92
4  2022-01-05     -610.64

In [34]:
#unix time to yyy-mm-dd format
copy_df["created"] = pd.to_datetime(copy_df["created"], unit="s").dt.date

In [35]:
copy_df.head()

,created,title_selftext,clean_text,sentiment_score
0,2022-01-01,When sovereign wealth funds?Anyone heard any n...,"[sovereign, wealth, funds, anyone, heard, news...",4.0
1,2022-01-01,You have already won.I only have .03 btc but I...,"[already, btc, still, feel, early, one, family...",3.0
2,2022-01-01,"Good Android Wallet for BTCOkay,\n\nSo I want ...","[good, android, wallet, btcokay, want, move, a...",11.0
3,2022-01-01,George Athanassakos (Seat tight and HODL)https...,"[george, athanassakos, seat, tight, hodl, http...",2.0
4,2022-01-01,Factored in satoshi Nakamoto’s bitcoins into t...,"[factored, satoshi, nakamoto, bitcoins, price,...",1.0

In [36]:
temp_df = copy_df[["created", "sentiment_score"]].copy()

In [37]:
prices_df.shape

(365, 2)

In [38]:
temp_df.shape

(16169, 2)

In [39]:
temp_df["created"][0:10]

0    2022-01-01
1    2022-01-01
2    2022-01-01
3    2022-01-01
4    2022-01-01
5    2022-01-01
6    2022-01-01
7    2022-01-01
8    2022-01-01
9    2022-01-01
Name: created, dtype: object

In [40]:
prices_df["timestamp"][0:10]

0    2022-01-01
1    2022-01-02
2    2022-01-03
3    2022-01-04
4    2022-01-05
5    2022-01-06
6    2022-01-07
7    2022-01-08
8    2022-01-09
9    2022-01-10
Name: timestamp, dtype: object

In [41]:
# casting both common columns into same data type
prices_df["timestamp"] = pd.to_datetime(prices_df["timestamp"])
temp_df["created"] = pd.to_datetime(temp_df["created"])

In [42]:
# inner joining using pd.merge()
merged_df = pd.merge(temp_df, prices_df, left_on="created", right_on="timestamp", how="inner")

In [43]:
merged_df

         created  sentiment_score  timestamp  difference
0     2022-01-01              4.0 2022-01-01     -842.52
1     2022-01-01              3.0 2022-01-01     -842.52
2     2022-01-01             11.0 2022-01-01     -842.52
3     2022-01-01              2.0 2022-01-01     -842.52
4     2022-01-01              1.0 2022-01-01     -842.52
...          ...              ...        ...         ...
16164 2022-12-31              1.0 2022-12-31      -21.54
16165 2022-12-31              4.0 2022-12-31      -21.54
16166 2022-12-31              2.0 2022-12-31      -21.54
16167 2022-12-31              7.0 2022-12-31      -21.54
16168 2022-12-31             11.0 2022-12-31      -21.54

[16169 rows x 4 columns]

No, they are far off from the actual difference.

P.S.: I actually did not get the point of this task 4 as tge differences are quite high.
May I know what am I missing?